* {
  color: #1e1e24;
  margin: 0;
  padding: 0;
}

p {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
}

.about-container {
  display: flex;
  padding: 2vw 0 2vw 2vw;
  justify-content: space-around;
  background-color: whitesmoke;
  height: auto;
}

.text-container h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  text-align: center;
}

.text-container {
  width: auto;
}

html,
body {
  background-color: #eddcc3;
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  height: 100px;
  display: flex;
  justify-content: center;
}

nav .topNav {
  display: flex;
  padding: 10px 0 10px 0;
  gap: 60px;
}

.topNav a {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
}

.hero-container {
  background-color: #eddcc3;
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
}

.realize-ideas {
  width: 30vw;
  height: 30vw;
  margin: 0 15vh 80px;
}

.tagline {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5vw;
  line-height: 10vw;
  margin: 15vh 0 80px 4vw;
}

.projects-container {
  background-color: #fffff0;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 50px 80px 50px;
}

.headers {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  padding: 40px 0 40px 0;
}

.prs {
  background-color: white;
  width: 15vw;
  height: 15vw;
}
