* {
  color: #1e1e24;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #eddcc3;
  background-image: url(realize_ideas.jpg);
  background-position: top right;
  background-size: 50vw;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  height: 80px;
  display: flex;
  justify-content: center;
}

nav .topNav {
  display: flex;
  padding-top: 10px;
  gap: 60px;
}

.topNav a {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
}

.main {
  display: flex;
  width: 100%;
  height: 700px;
  flex-direction: row;
  justify-content: space-between;
}

.tagline {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5.5vw;
  line-height: 15vh;
  max-width: auto;
  padding-top: 20vh;
  padding-left: 4vw;
}

.projects-container {
  background-color: #fffff0;
  height: 100%;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 50px 0 50px;
}

.headers {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  padding-top: 40px;
}

.prs {
  background-color: white;
  width: 400px;
  height: 400px;
}
